.container {
    padding: 50px 0px 50px 50px;
    display: flex;
    background-color: black;
}

.box-create {
    width: 50%;
}

.box-create .img {
    margin-top: 20%;
    width: 90%;
}

.title {
    width: 400px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    align-self: center;
}

.text {
    width: 400px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.671);
	font-style: normal;
	font-weight: 500;
}

@media only screen and (max-width: 992px) {
    .imagen {
        display: none;
    }

    .container {
        background-color: black;
        padding: auto;
    }
    
    .title {
        width: 300px;
    }
    
    .text {
        width: 300px;
    }

}